<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
  <key>Label</key>
  <string>com.mtga-tracker</string>

  <key>ProgramArguments</key>
  <array>
    <string>/usr/bin/python3</string>
    <string>REPLACE_WITH_FULL_PATH_TO/mtga-tracker/parse.py</string>
  </array>

  <key>WatchPaths</key>
  <array>
    <string>/Users/REPLACE_WITH_USERNAME/Library/Logs/Wizards Of The Coast/MTGA/Player.log</string>
  </array>

  <key>StandardOutPath</key>
  <string>REPLACE_WITH_FULL_PATH_TO/mtga-tracker/tracker.log</string>

  <key>StandardErrorPath</key>
  <string>REPLACE_WITH_FULL_PATH_TO/mtga-tracker/tracker.log</string>
</dict>
</plist>
